<div class="container">
  <table class="table table-bordered table-condensed">
    <h1>Search View!</h1>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Picture</th>
      <th>Brief Bio</th>
    </thead>
    <tbody>
      <tr ng-repeat="doc in doctors">
        <td><a href="{{doc.attribution_url}}" target="_new">{{doc.profile.first_name}}</a></td>
        <td>{{doc.profile.last_name}} {{doc.ratings.rating}}</td>
        <td>{{doc.profile.title}}</td>
        <td><img src="{{doc.profile.image_url}}"></img></td>
        <td>{{doc.profile.bio}}</td>
      </tr>
    </tbody>
  </table>
</div>
