<div class="container">
  <table class="table table-bordered table-condensed">
    <h1>Search View!</h1>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
    </thead>
    <tbody>
      <tr ng-repeat="doc in doctors">
        <td>{{doc.profile.first_name}}</td>
        <td>{{doc.profile.last_name}}</td>
      </tr>
    </tbody>
  </table>
</div>
